<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/static/table.css" type="text/css">
	<link rel="stylesheet" href="/static/style.css" type="text/css">
	<title>Serpens Project</title>
	<a href="/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!-- this are spaces so the links don't run together-->
	<a href="/logOut">Log out</a>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	{{#each jsscripts}}
	<script src="/static/{{this}}">{{this}}</script>
	{{/each}}
</head>
<body>
	<br>
	{{{body}}}
</body>
</html>
