

<h1>Welcome to the Serpens<br/> Employee Recognition Portal.</h1>

<p>Please login below. Passwords are case-sensitive</p>
<div id="login">
<form  method="post" id="loginInfo">
  <p>Username:
    <input type="text" name="email" maxlength="50"/>
  </p>
  <p>Password:
    <input type="password" name="password" maxlenght="15"/>
    <input type="submit" value="Login"/>
</form>
</div>
<a href="/forgotPassword">Forgot Password?</a>
<br/>
