<link rel="stylesheet" href="/static/table.css" type="text/css">
<h2>Administrators</h2>
<div id="app">
  <table>
      <tr>
		<th>Admin Id</th>
        <th>Email</th>
        <th>Password</th>
        <th>Creation Date</th>
      </tr>
      {{#each admins}}
      <tr>
        <td>{{ this.admin_id }}</td>
        <td>{{ this.email }}</td>
        <td>{{ this.password }}</td>
		<td>{{ this.creation_date }}</td>		
      </tr>
      {{/each}}
      
  </table>
  <br></br>
  <input placeholder="email" v-bind:id="'email'" type = "text" value = ""></input>
  <input placeholder="password" v-bind:id="'password'" type = "text" value = ""></input>
  <input placeholder="creation_date" v-bind:id="'creation_date'" type = "text" value = ""></input>
  <button v-on:click="addAdmin">Add Administrator</button>
 </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>