

<h1>Welcome to the Employee Recognition Portal.</h1>

<p>Please enter your information below:</p>

<form  method="post" id="forgotPassword">
	<div color="red">{{msg}}</div>
  <p>Email Address:
    <input type="text" name="email" maxlength="50"/>
  </p>
    <input type="submit" value="Recover Password"/>
</form>

<a href="/">Return to Login Page</a>
<br/>
