<table> {
  font-family: arial, sans-serif;
  width: 80%;
  margin: auto;
}

td, th {
  border: 2px solid rgb(120, 120, 120);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
