<!DOCTYPE html>

<html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" type="text/javascript"></script>  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

<body>

<!-- Displays Administrators table -->
<h2>Administrators</h2>
<div id="app">

  <table>
      <tr>
		<th>Admin Id</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Creation Date</th>
        <th>Branch</th>
        <th>Signature</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr v-for="admin in admins">
        <td>{{ admin.user_id }}</td>
        <td>{{ admin.email }}</td>
        <td>{{ admin.fname }}</td>
        <td>{{ admin.lname }}</td>
        <td>{{ admin.creation_date }}</td>
        <td>{{ admin.branch_id }}</td>
        <td>{{ admin.sig_id }}</td>
        <td><button v-on:click="editAdmin">Edit</button></td>
        <td><button v-on:click="deleteAdmin">Delete</button></td>
      </tr>
  </table>


<!-- Handles adding a new administator -->
  <br></br>
  <input placeholder="email" v-bind:id="'email'" type = "text" value = ""></input>
  <input placeholder="fname" v-bind:id="'fname'" type = "text" value = ""></input>
  <input placeholder="lname" v-bind:id="'lname'" type = "text" value = ""></input>
  <input placeholder="password" v-bind:id="'password'" type = "text" value = ""></input>
  <input placeholder="creation_date" v-bind:id="'creation_date'" type = "text" value = ""></input>
  <input placeholder="branch_id" v-bind:id="'branch_id'" type = "text" value = ""></input>
  <input placeholder="sig_id" v-bind:id="'sig_id'" type = "text" value = ""></input>
  <button v-on:click="addAdmin">Add Administrator</button>

<!-- Displays Users table -->
<br>
<h2>Users</h2>

  <table>
      <tr>
		<th>User Id</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Creation Date</th>
        <th>Branch</th>
        <th>Signature</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr v-for="user in users">
        <td>{{ user.user_id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.fname }}</td>
        <td>{{ user.lname }}</td>
        <td>{{ user.creation_date }}</td>
        <td>{{ user.branch_id }}</td>
        <td>{{ user.sig_id }}</td>
        <td><button v-on:click="editUser">Edit</button></td>
        <td><button v-on:click="deleteUser">Delete</button></td>
      </tr>
  </table>

  <!-- Handles adding a new user -->
    <br></br>
    <input placeholder="email" v-bind:id="'user_email'" type = "text" value = ""></input>
    <input placeholder="password" v-bind:id="'user_password'" type = "text" value = ""></input>
    <input placeholder="fname" v-bind:id="'user_fname'" type = "text" value = ""></input>
    <input placeholder="lname" v-bind:id="'user_lname'" type = "text" value = ""></input>
    <input placeholder="creation_date" v-bind:id="'user_creation_date'" type = "text" value = ""></input>
    <input placeholder="branch_id" v-bind:id="'user_branch_id'" type = "text" value = ""></input>
    <input placeholder="sig_id" v-bind:id="'user_sig_id'" type = "text" value = ""></input>
    <button v-on:click="addUser">Add User</button>
    <br><br><br>
    <p><button v-on:click="create_reports"><b>Create Reports</b></button></p>


</div>

</body>
<script src="admin.js"></script>

</html>
