<!DOCTYPE html>

<html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" type="text/javascript"></script>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Serpens, Inc.</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="http://localhost:8080/admins">Home</a></li>
        <li class="active"><a href="http://localhost:8080/admins/reports.html">Create Reports</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://localhost:8080/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
  </head>
<body>

<div id="app">
  <h2>Create Reports</h2>

  <p>To generate reports on employee recognition awards, please choose from the two categories and click 'Submit'.
     The resulting tables will show which users, branches, and/or regions are most active in giving awards.</p><br>

  <select  v-bind:id="'entities'">
    <option value="users">Users who have given</option>
    <option value="branches">Branches whose users have given</option>
    <option value="regions">Regions whose users have given</option>
  </select>

  <p> <br><b>the most</b><br> </p>

  <select  v-bind:id="'award'">
    <option value="awards">awards</option>
    <option value="eotm_awards">Employee of the Month awards</option>
    <option value="btp_awards">Best Team Player awards</option>
  </select>

  <p><br><button v-on:click="submit"><b>Submit</b></button></p>
  <br>

  <h3 v-if="showMostAwards">Users who have given the most awards:</h3>
  <table v-if="showMostAwards">
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Branch</th>
        <th>Total Awards Given</th>
      </tr>
      <tr v-for="users in usersmost">
        <td>{{ users.email }}</td>
        <td>{{ users.fname }}</td>
        <td>{{ users.lname }}</td>
        <td>{{ users.branch_id }}</td>
        <td>{{ users.count }}</td>
      </tr>
  </table>

  <h3 v-if="showEOTMAwards">Users who have given the most Employee of the Month awards:</h3>
  <table v-if="showEOTMAwards">
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Branch</th>
        <th>Awards Given</th>
      </tr>
      <tr v-for="users in eotm">
        <td>{{ users.email }}</td>
        <td>{{ users.fname }}</td>
        <td>{{ users.lname }}</td>
        <td>{{ users.branch_id }}</td>
        <td>{{ users.count }}</td>
      </tr>
  </table>

  <h3 v-if="showBTPAwards">Users who have given the most Best Team Player awards:</h3>
  <table v-if="showBTPAwards">
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Branch</th>
        <th>Awards Given</th>
      </tr>
      <tr v-for="users in btp">
        <td>{{ users.email }}</td>
        <td>{{ users.fname }}</td>
        <td>{{ users.lname }}</td>
        <td>{{ users.branch_id }}</td>
        <td>{{ users.count }}</td>
      </tr>
  </table>

  <h3 v-if="showRegionsMost">Most awards given by region:</h3>
  <table v-if="showRegionsMost">
      <tr>
        <th>Region</th>
        <th>Total Awards Given</th>
      </tr>
      <tr v-for="branches in regionmost">
        <td>{{ branches.region }}</td>
        <td>{{ branches.number }}</td>
      </tr>
  </table>

  <h3 v-if="showRegionsEOTM">Employee of the Month awards given by region:</h3>
  <table v-if="showRegionsEOTM">
      <tr>
        <th>Region</th>
        <th>Awards Given</th>
      </tr>
      <tr v-for="branches in regioneotm">
        <td>{{ branches.region }}</td>
        <td>{{ branches.number }}</td>
      </tr>
  </table>

  <h3 v-if="showRegionsBTP">Best Team Player awards given by region:</h3>
  <table v-if="showRegionsBTP">
      <tr>
        <th>Region</th>
        <th>Awards Given</th>
      </tr>
      <tr v-for="branches in regionbtp">
        <td>{{ branches.region }}</td>
        <td>{{ branches.number }}</td>
      </tr>
  </table>

  <h3 v-if="showBranch">Most awards given by branch:</h3>
  <table v-if="showBranch">
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>State</th>
        <th>Region</th>
        <th>Total Awards Given</th>
      </tr>
      <tr v-for="branches in branchmost">
        <td>{{ branches.name }}</td>
        <td>{{ branches.city }}</td>
        <td>{{ branches.state }}</td>
        <td>{{ branches.region }}</td>
        <td>{{ branches.total }}</td>
      </tr>
  </table>

  <h3 v-if="showBranchEOTM">Employee of the Month awards given by branch:</h3>
  <table v-if="showBranchEOTM">
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>State</th>
        <th>Region</th>
        <th>Awards Given</th>
      </tr>
      <tr v-for="branches in brancheotm">
        <td>{{ branches.name }}</td>
        <td>{{ branches.city }}</td>
        <td>{{ branches.state }}</td>
        <td>{{ branches.region }}</td>
        <td>{{ branches.number }}</td>
      </tr>
  </table>

  <h3 v-if="showBranchBTP">Best Team Player awards given by branch:</h3>
  <table v-if="showBranchBTP">
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>State</th>
        <th>Region</th>
        <th>Awards Given</th>
      </tr>
      <tr v-for="branches in branchbtp">
        <td>{{ branches.name }}</td>
        <td>{{ branches.city }}</td>
        <td>{{ branches.state }}</td>
        <td>{{ branches.region }}</td>
        <td>{{ branches.number }}</td>
      </tr>
  </table>

  </div>

</body>
<script src="reports.js"></script>

</html>
