
#app {
  max-width: 800px;
  margin: auto;
  padding-bottom: 25px;
}

.most {
  padding-top: 30px;
  padding-right: 35px;
  float: left;
}

.chart {
  padding-left: 35px;
  float:right;
}

<table> {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid rgb(120, 120, 120);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
