

<h1>Welcome to the AeroSpace Corp Supplier Quote System.</h1>

<p>Please login below. Passwords are case-sensitive</p>

<h2>Log in:</h2>
<p>Username: supplier@money.com
<br>Password: supplier
<br>

<form  method="post" id="loginInfo">
  <p>Username:
    <input type="text" name="email" maxlength="50"/>
  </p>
  <p>Password:
    <input type="password" name="password" maxlenght="15"/>
    <input type="submit" value="Login"/>
</form>

<a href="/addUser"><button>Create a New Account</button></a>
<br/>
